.progress__container {
  display: flex;
  column-gap: 150px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .progress__container {
    column-gap: 80px;
  }
}

@media screen and (max-width: 567px) {
  .progress__container {
    flex-direction: column;
    row-gap: 15vh;
  }
}
